.input-container {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: white;
    padding: 12px;
}

.text-input {
    border: 1px solid black;
    border-radius: 4px;
    width: 80%;
    field-sizing: content;
    resize: none;
    padding: 10px;
}

.send-button {
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 1000px;
    background-color: #9af6ab;
    transition: background-color 0.2s linear;

    &:hover {
        background-color: #7bc296;
    }

    &:active {
        background-color: #4c7372;
    }
}
