@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 100vh;
    background-image: url("/app/public/background.png");
    background-size: cover;
    --good-message-text: #317529;
    --good-message-background: #aef5f4;
    --search-message-text: #4de8d6;
    --search-message-background: #260542;
    --man-message-text: #542c0c;
    --man-message-background: #7a7b80;
    --not-addapted-text: #e82210;
    --not-addapted-background: black;
    --message-text: black;
    --message-background: white;
}
